<div class="container-fluid"  *ngFor="let curso of cursos">
    <div class="row" 
   
    >
    

        

        <div class="col-md-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title ">{{curso.nombre}}</h3>
                </div>
                        <div class="card-body">
                                <app-dona 
                                    [title]="'EGA'"
                                    [labels]="['Estudiantes', 'Profesores']"
                                    [data]="[ cursos.length,  10]"
                                    [backgroundColor]="['#f44336', '#242C68']">
                                </app-dona>
                        
                        </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title ">{{titulo}}</h3>
                </div>
                        <div class="card-body">
                                <app-dona 
                                [title]="'ESDA'"
                                    [labels]="['Estudiantes', 'Profesores']"
                                    [data]="[ 10, 20 ]"
                                    [backgroundColor]="['#E7E8F0', '#F02108']">
                                </app-dona>
                        
                        </div>
            </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title ">{{titulo}}</h3>
                </div>
                        <div class="card-body">
                                <app-dona 
                                [title]="'ACADEMIA CEC'"
                                [labels]="['Estudiantes', 'Profesores']"
                                [data]="[ 10, 20 ]"
                                [backgroundColor]="['#4EB3D6', '#A74ED6']">
                                </app-dona>
                        
                        </div>
            </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title ">{{titulo}}</h3>
                </div>
                        <div class="card-body">
                                <app-dona  
                                [title]="'KENNEDY'"
                                [labels]="['Estudiantes', 'Profesores']"
                                [data]="[ 10, 20 ]"
                                [backgroundColor]="['#080CF0', '#F08E08']">
                                  
                                </app-dona>
                        
                        </div>
            </div>
        </div> -->
    </div>
</div>