


<div class="row animated fadeIn fast">
  <div class="col-12">
     
      <div class="alert alert-info text-center"
      *ngIf="cargando">

          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>

      </div>

  </div>
</div>

<div 
*ngIf="!cargando"    
>

<h1 class="mt-3" >Pagos del estudiantes</h1>
<hr>

<div *ngIf="cread">
  
  <div *ngIf="aprobado==true" class="alert alert-success">
    <a class="alert-link" >Curso Cancelado</a>
  </div>
  
  <div *ngIf="aprobado==false" class="alert alert-danger">
    <a class="alert-link">Curso Pendiente por Cancelar</a>
  </div>       
</div>
<hr>
<form [formGroup]="myForm" (ngSubmit)="guardarNota() ">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Periodo:</label>

      <fieldset disabled>

        <div class="mb-3">
          <input type="text" id="disabledTextInput" class="form-control" placeholder= "{{pagoSeleccionado?.curso?.curso?.nombre}} - {{pagoSeleccionado?.curso?.mes}} - {{pagoSeleccionado?.curso?.anio}} - ${{pagoSeleccionado?.curso?.valor}}" readonly >
        </div>

        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Estudiante:</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="{{pagoSeleccionado?.usuario?.nombre}} {{pagoSeleccionado?.usuario?.apellido}}" readonly>
        </div>
      </fieldset>
      
    </div>
  </div>


  <!-- <div class="row mb-3" *ngIf="periodos.length > 0">
    <div class="col">
      <label class="form-label">Estudiante:</label>   
      <select id ="estudiante_id" formControlName="estudiante" class="form-control">
        <option value="">-- Seleccione Estudiante --</option>
        <option *ngFor="let usuario of estudiante" [value]="usuario.usuario?._id">{{  usuario.usuario?.nombre + ' ' + usuario.usuario?.apellido}}</option>
      </select>
    </div>
  </div> -->

  



<div 
formArrayName="pagos" class=" mb-3 "

>

  
  <div *ngFor="let alias of pago.controls; let i=index">
    <label>
      {{"Pagos "+(i+1)}} 
      <input  type="number" class="form-control" [formControlName]="i" >
    </label>
  </div>
</div>
<button type="submit" class="btn btn-primary" 
[disabled]="myForm.invalid"
 >
  Enviar
</button>
</form>

<div *ngIf="pagoSeleccionado" class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>        
        <th class="w100">Comprobante de Pago</th>
        
        <th>Valor de Pago</th>
        <!-- <th>
          Referencia
        </th> -->

        <th>Estado</th>
        
        <th class="text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recibos of Recib">
        <td class="text-center">    
          <img [src]=" recibos.img | imagen:'recibos'" [alt]="recibos.valor"
          class="avatar cursor"
          >
          <!-- (click)="abrirModal(academia)" -->
          
        </td>
        <td>
          <input type="number" 
          class="form-control"
          placeholder="Valor del recibo"
          (change)="cambiarEstado(recibos)"
          [(ngModel)]="recibos.valor"
          >
        </td>
        <!-- <td>
          <input type="number" 
          class="form-control"
          placeholder="Referencia de pago"
          > 
           (change)="cambiarEstado(recibos)"
          [(ngModel)]="recibos.valor"
        </td> -->



        <td>

          <select class="form-control"
          [(ngModel)]="recibos.aprobado"
          (change)="cambiarEstado(recibos)"
          >
          <!-- [formControlName]="recibos.aprobado " -->
              <option selected value="false">No Aprobado</option>
              <option value="true">Aprobado</option>
              <option value="false">No Aprobado</option>
              
          </select>

        </td>
        
        
        <td class="text-nowrap text-center w100">
          <!-- (click)="guardarCambios(academia)" 
                  <a 
                  data-toggle="tooltip" 
                  class="cursor"
                  data-original-title="Guardar cambio"> 
                  <i class="fa fa-pencil text-inverse m-r-10"></i> 
                  
                </a>
                
                -->
                <a
                data-toggle="tooltip" 
                data-original-title="Borrar"
                class="cursor"
                (click)="eliminarRecibo(recibos)"  
                > 
                <i class="fa fa-close text-danger"></i> 
                
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>

    
  </div>
  