




<h1>Chat</h1>

<hr>
<div class="app-mensajes" id="app-mensajes">
    
    <!-- <div  *ngFor="let chat of _cs.chats" -->
    <div  *ngFor="let chat of filtrarChats()"
    [ngClass]="{'text-right': chat.uid == uid, 'text-start': uid != uid}"
    >
    <span class=""
    
    >{{chat.nombre + ' ' + chat.apellido}}</span>
    <br>
    <span *ngIf="role == 'ADMIN_ROLE' " class=""> <b>Cedula: </b>{{chat.cedula}}</span>
    <br>
    <!-- <span *ngIf="role == 'ADMIN_ROLE' " class=""> <b>Fecha y Hora: </b>{{ chat.fecha | date: 'MMMM D, YYYY'}}</span> -->
        <p>
            {{chat.mensaje}}
        </p>
    </div> 
    <!-- <div>
        <span class="badge text-bg-success">{{Juan}}</span>
        <p>
            Saludos Diego
        </p>
    </div> -->

</div>


<input *ngIf="role !== 'ADMIN_ROLE' " type="text" name="mensaje" 
                    [(ngModel)]="mensaje" 
                    class="form-control"
                    (keyup.enter)="enviar_mensaje()"
                    placeholder="Escribe tu mensaje">
