
<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              
              <!-- <input type="text"
                      class="form-control"
                      placeholder="Buscar Usuario"
                      #txtTermino
                      (keyup)="buscar(txtTermino.value)"

              /> -->
          
          </div>
      </div>
  </div>
</div>


<div class="row animated fadeIn fast">
  <div class="col-12">
     
      <div class="alert alert-info text-center"
      *ngIf="cargando">

          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>

      </div>

  </div>
</div>

<div 
    *ngIf="!cargando"    
>

<h1 class="mt-3" >Pagos del estudiantes</h1>
<hr>

<div *ngIf="cread">

  <div *ngIf="aprobado==true" class="alert alert-success">
   <a class="alert-link" >Curso Cancelado</a>
  </div>

  <div *ngIf="aprobado==false" class="alert alert-danger">
    <a class="alert-link">Curso Pendiente por Cancelar</a>
  </div>       
</div>
<hr>

<div class="col">
  <div class="text-right ">
      <button 
      (click)="abrirSweetAlert()"
      class="btn btn-primary">
      <i class="fa-solid fa-file-invoice-dollar"></i>
          Ingresar recibo de pago
      </button>
  </div>

</div>
<form [formGroup]="myForm">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Periodo:</label>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
    <strong>{{est?.curso?.anio + ' - '+est?.curso?.mes +' - '+est?.curso?.curso?.nombre+ ' - '+est?.curso?.modulos+' módulos' +' - $'+est?.curso?.valor}}</strong>   
    </div>
    </div>
  </div>


  <div class="row mb-3" *ngIf="periodos.length > 0">
    <div class="col">
      <label class="form-label">Estudiante:</label>   

      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <strong>{{est?.usuario?.nombre + ' ' + est?.usuario?.apellido}}</strong>   
        </div>
      
    </div>
  </div>

  



<div 
formArrayName="pagos" class=" mb-3 "

>

  
  <div *ngFor="let alias of estudiantesTemp?.pagos; let i=index">
    <label>
      <strong>

        {{"Pago "+(i+1)}} 
      </strong>
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <strong>{{alias}}</strong>   
        </div>
    </label>
  </div>
</div>

</form>


</div>