
<h1 class="mt-3" >Notas de estudiantes</h1>
<hr>

<form [formGroup]="myForm" (ngSubmit)="guardarNotas() ">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Periodo:</label>
      <select formControlName="periodo" class="form-control" (ngModelChange)="numeroModulos()">
        <option value="">-- Seleccione Periodo --</option>
        <option *ngFor="let periodo of periodos" [value]=" periodo._id">{{ periodo.anio+ ' - '+periodo.mes +' - '+periodo.curso?.nombre + ' - '+periodo.modulos}}</option>
      </select>
    </div>
  </div>


  <div class="row mb-3" *ngIf="periodos.length > 0">
    <div class="col">
      <label class="form-label">Estudiante:</label>   
      <select formControlName="estudiante" class="form-control">
        <option value="">-- Seleccione Estudiante --</option>
        <option *ngFor="let usuario of estudiante" [value]="usuario.id">{{  usuario.usuario?.nombre + ' ' + usuario.usuario?.apellido}}</option>
      </select>
    </div>
  </div>

   <div *ngIf="estudiante.length > 0">
    <div class="row mb-3" *ngFor="let modulo of modulos" >
      <div class="col" >
        <!-- <label class="form-label">Modulo {{modulo}}</label> -->
        <!-- <input type="number" max="10" min="0" formControlName="{{modulo}}" class="form-control" > -->
          
      </div>
    </div>

   </div>



<div *ngIf="periodos.length > 0 && estudiante.length > 0" formArrayName="modulos" class=" mb-3 ">

  
  <div *ngFor="let alias of modulo.controls; let i=index">
    <label>
      {{"Modulo "+(i+1)}} <span (click)="deleteModulo(i)" class="btn btn-danger">X</span>
      <input  type="number" class="form-control" [formControlName]="i" max="10" min="0">
    </label>
  </div>
</div>
<button type="submit" class="btn btn-primary" 
[disabled]="myForm.invalid"
 >
  Enviar
</button>
</form>



<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>
<p>
  is form valid: {{  myForm.valid }}
</p>
