<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <!-- <input type="text"
                        class="form-control"
                        placeholder="Buscar Usuario"
                        #txtTermino
                        (keyup)="buscar(txtTermino.value)"

                /> -->
            
            </div>
        </div>
    </div>
</div>



<div class="row animated fadeIn fast">
    <div class="col-12">
       
        <div class="alert alert-info text-center"
        *ngIf="cargando">

            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>

        </div>

    </div>
</div>

<div class="row"
    *ngIf="!cargando"    
>
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Periodos ({{periodos.length}})</h4>
                        <h6 class="card-subtitle">Periodos registrados</h6>

                    </div>

              
                </div>


                <!-- <h4 class="card-title">Médicos</h4>
                <h6 class="card-subtitle">Médicos registrados en la aplicación</h6> -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>        
                                <!-- <th>Academia</th> -->
                                <!-- <th>Estudiante</th> -->
                                <th>Periodo</th>
                                <!-- <th>Notas por Módulos</th>
                                <th class="text-nowrap w100">Estado</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of periodos" >
                             
                                <!-- <td [routerLink]="['/dashboard/reviso',item._id]" routerLinkActive="router-link-active">
                                    {{item.estudiante?.nombre+' '+item.estudiante?.apellido}}</td>
                             -->
                                
                                <td [routerLink]="['/dashboard/reviso/',item._id]" routerLinkActive="router-link-active" class="text-nowrap text-left">
                                    <!-- {{item.periodo?.anio+'  -  '+item.periodo?.mes + ' - '+item.periodo?.curso?.nombre}} -->
                                    {{item.anio+'  -  '+item.mes + ' - '+item.curso?.nombre + '  - Módulos - ' + item.modulos}}
                                  

                                </td>

                                <!-- <td [routerLink]="['/dashboard/reviso',item._id]" routerLinkActive="router-link-active">{{item.modulos}}</td>
                                <td> -->

                                   
                                    <!-- <span *ngIf="item.aprobado" class="label label-success">Aprobado </span>
                                    <span *ngIf="item.aprobado==false" class="label label-danger">Reprobado</span> -->
                                <!-- </td> -->
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- <button class="btn btn-secondary">Anterior</button>
                &nbsp;
                <button class="btn btn-secondary">Siguiente</button> -->

            </div>
        </div>
    </div>
</div>
