    .fast{
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both
    }
    #themecolors .selector, .cursor{
        cursor: pointer;
        
    }

    #buttonDiv{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .googleBtn{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .img-avatar{
        width: 200px;
        height: 200px;
    }

    .w100{
        width: 100px;
    }
    .w140{
        width: 140px;
    }
    .w200{
        width: 200px;
    }
    .w75{
        width: 75px;
    }

    .avatar{
        width: 30px;
        /* border-radius: 70%; */
    }

    .fondo-modal-imagen{
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0px;
        height: 100%;
        top: 0px;
        width: 100%;
        z-index: 9999;
    }

    .oculto{

        display: none;
        
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }
  
  .puntero{
    cursor: pointer;
  }
  
  
  .chat-window{
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
  }
  
  .app-mensajes{
    overflow-y:scroll;
    height:270px;
    /*background:gray;*/
    padding: 5px;
  }
  
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  